@page "/about"

<div style="text-align:center; ">
    <AuthorizeView>
        <Authorized>
            <h1>Welcome to the about page... </h1>
            <p>This is a weather prediction app</p>
        </Authorized>
    </AuthorizeView>
</div>